/* Default Start */
.App {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  border-radius: 7px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}
body {
  overflow-x: hidden;
}
.Hire-Head,
.services,
.doorstep-head,
.seen-on {
  margin-top: 3%;
}
ul li i {
  color: rgb(109 65 197 / 69%);
}
button {
  border-radius: 5px;
}
.reviews .card p {
  text-align: justify;
  font-size: 14px;
}
.svg-card-para {
  font-size: 18px;
  color: rgba(9, 8, 26, 0.3);
  font-weight: 600;
}
.card {
  border-radius: 5px;
  padding: 10px;
}
/* Default End */

/* Navigation Start */
.Navigationbar {
  position: sticky;
  top: 0px;
  z-index: 1000000000000000000;
}
.navigation {
  background-color: #ffffff;
}
.navbar a img {
  width: 50%;
}
.navbar {
  border-bottom: 1px solid #ccc;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link,
.navbar-nav .nav-item .dropdown button {
  font-size: 20px;
  padding: 0 22px;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-nav .nav-item .dropdown button:hover {
  color: #184678;
  transition: linear 0.2s;
}
.navbar-nav .nav-item .dropdown-toggle::after {
  position: relative;
  top: 5px;
}
.navbar-nav .nav-item .dropdown-item {
  display: flex;
}
.navbar-nav .nav-item .dropdown-item svg {
  padding-right: 10px;
}
.navbar-nav .nav-item .dropdown-menu {
  --bs-dropdown-min-width: 65rem;
  position: absolute;
  left: -350%;
}
.collapse ul {
  display: flex;
  align-items: center;
}
.black-button button {
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  background-color: #184678;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #00000000;
}

.black-button button:hover {
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  color: #184678;
  transition: linear 0.2s;
  border: 2px solid #184678;
}
.btn-secondary,
.btn-secondary:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

/* Navigation End */

/* HomePage Start */
/* Hire-Head */

/* .Hire-Head .container,
.Hire-Head .col-lg-6 {
  padding: 0;
} */
.Hire-content h4 {
  font-size: 3em;
  font-weight: 800;
  padding-bottom: 26px;
  font-size: 50px;
  background: linear-gradient(to right, rgb(109, 65, 197), rgb(188, 112, 213));
  -webkit-background-clip: text;
  color: transparent;
}
.Hire-content-head2 {
  font-size: 18px;
  color: rgb(109, 65, 197);
}
.Hire-content-head3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  margin: 15px 0 0 0;
}
.Hire-content-head4 {
  margin-top: 44px;
  font-size: 20px;
  color: #ccc;
}
.driver-app {
  margin: 47px 0 0 4px;
}
.driver-app a {
}
.driver-app a button {
  padding: 18px 80px;
  font-size: 22px;
  font-weight: 600;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  color: #fff;
}
.driver-app a .app {
  padding: 14px 30px;
  font-size: 22px;
  font-weight: 600;
  border: 4px solid rgb(109, 65, 197);
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  margin: 0 0 0 26px;
  color: #000;
}
/* Our Services */
.services h2 {
  text-align: center;
  font-size: 34px;
}
.services a {
  text-decoration: none;
}
.services .services-card h3 {
  margin-top: 40px;
  font-size: 24px;
}
.services .services-card {
  text-align: center;
  color: #000;
  margin-top: 34%;
}
.services .services-card p {
  margin: 30px 12px 0 12px;
  color: #b1a4a4;
}
.doorstep-col-row,
.car-Maintanance,
.insurence,
.tiptopcoin {
  display: flex;
  align-items: center;
}
.doorstep p,
.car-Maintanance p,
.insurence p,
.tiptopcoin p {
  font-size: 16px;
  padding: 36px 92px 0 0px;
}
.doorstep h2,
.car-Maintanance h2,
.insurence h2,
.tiptopcoin h2 {
  text-align: start;
  font-size: 24px;
}
.doorstep a button,
.car-Maintanance a button,
.insurence a button,
.tiptopcoin a button {
  position: relative;
  top: 30px;
  padding: 10px 40px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  border: none;
  color: #fff;
}
/* Seen on Start */
.seen-on {
  text-align: center;
}
/* Simply Car Owner Ship Start*/
.car-owner-ship {
  background-color: #f3f3f4;
}
.car-owner-ship .carownership p {
  margin: 22px 0;
  width: 80%;
}
.car-owner-ship .carownership h2 {
  font-size: 24px;
}
.car-owner-ship .carownership {
  display: flex;
  align-items: center;
}
.car-owner-ship .carownership a {
  padding-right: 18px;
}
.car-owner-ship .carownership a img {
  width: 32%;
}
/* HomePage End */
/* Footer Page Start */
.Footer {
  background-color: #09081a;
  color: #fff;
}
.footer-head h2 {
  font-size: 28px;
}
.footer-head p .fa-linkedin {
  background-color: #fff;
  color: #212529;
  border-radius: 3px;
  padding: 4px;
  font-size: 20px;
  position: relative;
  bottom: 4px;
}
.footer-head p i {
  font-size: 30px;
  padding-right: 5px;
}
.footer-head {
  padding: 3% 0;
}
.footer-head p a {
  text-decoration: none;
  color: #fff;
}
.footer-head h3 {
  margin-top: 30%;
}
.terms-condition {
  border-top: 1px solid #cccccc42;
  padding-top: 3%;
}
.term-condition p {
  font-size: 15px;
}
.footer-app a img {
  width: 35%;
  border-radius: 10px;
  margin: 0px 5px;
}
/* Footer Page End */
/* Fastag Page Start */
.Fastag-head {
  margin-left: 6%;
  margin-top: 3%;
}
.fastag-recharge {
  display: flex;
  align-items: center;
}
.fastag-recharge h1 {
  margin-top: 10px;
  font-size: 45px;
  font-weight: 700;
}
.fastag-recharge h6 {
  font-size: 18px;
}
.fastag-recharge p {
  font-size: 20px;
  padding: 8% 0;
  margin: 0;
}
.fastag-recharge a button {
  padding: 16px 72px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  border: none;
}
.reacharge-on {
  margin: 3%;
  text-align: center;
}
.reacharge-on .card svg {
  margin: 0 25%;
}
.reacharge-on .card p {
  font-size: 18px;
  font-weight: 700;
}
.reacharge-on .card {
  text-align: center;
}
.FASTag-Mandatory {
  text-align: center;
  margin: 3% 10%;
}
.FASTag-Mandatory h1 {
  font-weight: 700;
  font-size: 26px;
}
.FASTag-Mandatory .fasttag-content {
  text-align: left;
  display: flex;
  align-items: center;
}
.FASTag-Mandatory .row {
  margin-top: 5%;
}
.FASTag-Mandatory a button {
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 3% 0;
}
.FASTag-Mandatory .fasttag-content p {
  width: 85%;
}
.FASTag-Mandatory .fasttag-content ul {
  padding: 0;
}
.FASTag-Mandatory .fasttag-content ul li {
  list-style: none;
}
.reviews {
  margin-bottom: 3%;
  text-align: center;
}
.reviews .card {
  padding: 30px;
  border: none;
  box-shadow: 0px 0px 50px 1px #ccc;
}
.reviews .card img {
  width: 15%;
  margin: 4% 42%;
}
/* Fastag Page End */

/* Car Wash Page Start */
.carwash-content h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 66px;
}
.carwash-content p {
  padding: 5% 0;
  margin: 0;
}
.carwash-content {
  display: flex;
  align-items: center;
}
.carwash-content div {
  padding: 0 0 0 13%;
}
.carwash-content .driver-app {
  padding: 0%;
}
.Premium-Materials {
  margin-top: 3%;
  text-align: center;
}
.Premium-Materials .Premium-Materials-head .card h3 {
  font-size: 18px;
}
.Carwash .FASTag-Mandatory {
  margin: 3%;
}
.Carwash .FASTag-Mandatory .fasttag-content p {
  width: 85%;
  text-align: justify;
}
/* Car Wash Page End */
/* Car Wash Package Start */
.Carwashpackage .car-wash .card h3 {
  font-size: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}
.Carwashpackage .car-wash .card h2 {
  font-weight: 400;
  font-size: 21px;
}
.Carwashpackage .car-wash .card table tr .tdplace {
  padding: 0 93px 0 133px;
}
.Carwashpackage .car-wash .card table tr td {
  font-size: 20px;
  font-weight: 500;
}
.Carwashpackage .car-wash .card a button {
  margin: 15px 0;
  padding: 4px 37%;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  color: #fff;
  border: none;
}
.Carwashpackage .car-wash .card {
  padding: 18px;
  margin: 6% 0;
}
.Carwashpackage .car-wash p {
  font-size: 18px;
  font-weight: 500;
}
.Carwashpackage .car-wash h1 {
  font-size: 21px;
  text-align: center;
  color: rgb(188, 112, 213);
}
.Carwashpackage .car-wash {
  margin: 25px 25%;
}
/* Car Wash Package End */
/* Tiptopdriver Coin Start */
.Tiptopdrivercoin-head {
  margin: 3% 0 3% 7%;
}
.Tiptopdrivercoin .driver-app a .app {
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  color: #fff;
  margin: 0;
  border: none;
}

.Premium-Materials-head .card svg {
  margin: 0 46px;
  padding: 15px;
}
.Tiptopdrivercoin .FASTag-Mandatory {
  text-align: center;
  margin-top: 3%;
}
/* Tiptopdriver Coin End */

/* Car Servicing Start */
.Carservicing .Carservicing-head {
  margin: 3% 0;
}
.Premium-Materials-head .card {
  border: none;
  box-shadow: 0px 0px 50px 2px #ccc;
  padding: 10px;
  margin: 15px 0;
}
.Carservicing .Premium-Materials-head .card svg {
  margin: 0 45px;
  padding: 15px;
}
.Carservicing .driver-app a .app {
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  color: #fff;
}
/* Car Servicing End */
/* Roadside Assistance Start */
.Roadsideassistance-head {
  padding: 3% 0 3% 7%;
}
.Roadsideassistance .driver-app a .app {
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  color: #fff;
  margin: 0;
}
/* Roadside Assistance End */

/* Join As Business Page Start*/
.Joinasdriverpartner .business-phoneno input {
  margin: 5px;
  padding: 6px 12px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
.Joinasdriverpartner {
  margin: 5% 0;
}
.Joinasdriverpartner .business-phoneno a button {
  padding: 6px 12px;
  background-image: linear-gradient(
    to right,
    rgb(109, 65, 197),
    rgb(188, 112, 213)
  );
  border: none;
  color: #fff;
}
.Comfortable-Trusted-Customers .card {
  border: none;
  /* filter: drop-shadow(0 0 0.75rem crimson); */
  box-shadow: 0px 0px 50px 10px #ccc;
}
.Comfortable-Trusted-Customers img {
  width: 25%;
  margin: 0 0 0 65%;
}
/* Join As Business Page End*/
/* Book Driver Page Start */
.Hiredrivers {
  background-image: url("./Images/Map-Animation.gif");
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.One-way {
  width: 82%;
}
.ba {
  transform: scale(1);
}
.bf {
  margin-bottom: -5px;
}
.be {
  padding-bottom: 5px;
}
.bd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.bc {
  flex-wrap: nowrap;
}
.bb {
  position: relative;
}
.b7 {
  display: flex;
}
.ce {
  flex-basis: 0px;
}
.cd {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.cc {
  line-height: 16px;
}
.cb {
  font-weight: 500;
}
.ca {
  font-size: 14px;
}
.c5 {
  outline-offset: -3px;
}
.c4 {
  outline: none;
}
.c3 {
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
.c2 {
  transition-duration: 200ms;
}
.c1 {
  transition-property: background;
}
.c0 {
  background: rgb(255, 255, 255);
}
.bz {
  color: rgb(0, 0, 0);
}
.by {
  border-bottom-style: none;
}
.bx {
  border-right-style: none;
}
.bw {
  border-top-style: none;
}
.bv {
  border-left-style: none;
}
.bu {
  border-bottom-width: 0px;
}
.bt {
  border-right-width: 0px;
}
.bs {
  border-top-width: 0px;
}
.br {
  border-left-width: 0px;
}
.bq {
  padding-bottom: 16px;
}
.bp {
  padding-right: 16px;
}
.bo {
  padding-top: 16px;
}
.bn {
  padding-left: 16px;
}
.bm {
  display: inline-flex;
}
.bl {
  margin-bottom: 0px;
}
.bk {
  margin-top: 0px;
}
.bj {
  margin-right: 0px;
}
.bi {
  margin-left: 0px;
}
.bh {
  appearance: none;
}
.bg {
  cursor: pointer;
}
.b8 {
  -webkit-box-pack: center;
  justify-content: center;
}
.b6 {
  -webkit-box-align: center;
  align-items: center;
}
.b1 {
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.aj {
  box-sizing: border-box;
}
.ce {
  flex-basis: 0px;
}
.cd {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.cc {
  line-height: 16px;
}
.cb {
  font-weight: 500;
}
.ca {
  font-size: 14px;
}
.c5 {
  outline-offset: -3px;
}
.c4 {
  outline: none;
}
.c3 {
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
.c2 {
  transition-duration: 200ms;
}
.c1 {
  transition-property: background;
}
.c0 {
  background: rgb(255, 255, 255);
}
.bz {
  color: rgb(0, 0, 0);
}
.by {
  border-bottom-style: none;
}
.bx {
  border-right-style: none;
}
.bw {
  border-top-style: none;
}
.bv {
  border-left-style: none;
}
.bu {
  border-bottom-width: 0px;
}
.bt {
  border-right-width: 0px;
}
.bs {
  border-top-width: 0px;
}
.br {
  border-left-width: 0px;
}
.bq {
  padding-bottom: 16px;
}
.bp {
  padding-right: 16px;
}
.bo {
  padding-top: 16px;
}
.bn {
  padding-left: 16px;
}
.bm {
  display: inline-flex;
}
.bl {
  margin-bottom: 0px;
}
.bk {
  margin-top: 0px;
}
.bj {
  margin-right: 0px;
}
.bi {
  margin-left: 0px;
}
.bh {
  appearance: none;
}
.bg {
  cursor: pointer;
}
.b8 {
  -webkit-box-pack: center;
  justify-content: center;
}
.b6 {
  -webkit-box-align: center;
  align-items: center;
}
.b1 {
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.aj {
  box-sizing: border-box;
}
.fh {
  width: 180px;
}
.cn {
  font-family: Circular-Std-Medium;
}
.cm {
  transform: translateX(0px);
}
.ck {
  height: 5px;
}
.cj {
  left: 0px;
}
.ci {
  bottom: 0px;
}
.ch {
  z-index: 1;
}
.cg {
  position: absolute;
}
.cf {
  background-color: rgb(18, 126, 64);
}
.co {
  background-color: rgb(226, 226, 226);
}
.ck {
  height: 5px;
}
.bb {
  position: relative;
}
.cd {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.c4 {
  outline: none;
}
.bq {
  padding-bottom: 16px;
}
.bp {
  padding-right: 16px;
}
.bo {
  padding-top: 16px;
}
.bn {
  padding-left: 16px;
}
.cd {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.c4 {
  outline: none;
}
.bq {
  padding-bottom: 16px;
}
.bp {
  padding-right: 16px;
}
.bo {
  padding-top: 16px;
}
.bn {
  padding-left: 16px;
}
.Sorry-service {
  display: none;
  color: rgb(18, 126, 64);
  margin-bottom: 0.5rem;
}
.Pick-up-and-drop-address {
  display: none;
  color: rgb(18, 126, 64);
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.empty_input_div {
  display: none;
}
.second_Input_Tag {
  border: none;
}
.must-be-in-the-same-city {
  display: none;
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.not-available {
  display: none;
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
.oneWayInputBox {
  margin-top: -1rem;
}
.first_Input_Tag {
  border: none;
}
.empty_input_div {
  display: none;
}
.oneWay,
.roundWay {
  height: 58%;
}
.oneWayInputBox {
  margin-top: 0.5rem;
}
.inputBox {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  width: 40%;
  margin-left: 0.5rem;
}
.inputBox {
  padding: 0.5rem;
}
.location {
  font-size: 14px !important;
  border-radius: 10px !important;
  border: 0.2px solid #888;
  font-family: Circular-Std-Book;
}
.first_Input_Tag_Div {
  display: flex;
  flex-direction: row;
}
input[type="text"] {
  -moz-appearance: textfield;
}
.verify-otp,
input[type="text"] {
  width: 100%;
  height: 43px;
  font-size: 16px;
}
input[type="text"] {
  color: #333;
  transition: all 0.5s ease-in;
  outline: none;
  padding: 10px;
}
.location {
  font-size: 14px !important;
  border-radius: 10px !important;
  border: 0.2px solid #888;
  font-family: Circular-Std-Book;
}
.empty_input_div {
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  margin-top: 0.7rem;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-left: -1.5rem;
}
.secondInput {
  margin-bottom: 0.5rem;
}
.location {
  font-size: 14px !important;
  border-radius: 10px !important;
  border: 0.2px solid #888;
  font-family: Circular-Std-Book;
}
.second_Input_Tag_Div {
  display: flex;
  flex-direction: row;
}
input[type="text"] {
  -moz-appearance: textfield;
}
.verify-otp,
input[type="text"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
}
input[type="text"] {
  color: #333;
  transition: all 0.5s ease-in;
  outline: none;
  padding: 10px;
}
.location {
  font-size: 14px !important;
  border-radius: 10px !important;
  border: 0.2px solid #888;
  font-family: Circular-Std-Book;
}
.empty_input_div {
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  margin-top: 0.7rem;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-left: -1.5rem;
}

/* Book Driver Page End */
